<div class="container">
  <h1>Angular Services</h1>

  <div class="card">
    <h2>App Counter: {{appCounterService.counter}}</h2>
    <div class="btn" (click)="appCounterService.increase()">+</div>
    <div class="btn" (click)="appCounterService.decrease()">-</div>
  </div>

  <div class="card">
    <h2>Local Counter: {{localCounterService.counter}}</h2>
    <div class="btn" (click)="localCounterService.increase()">+</div>
    <div class="btn" (click)="localCounterService.decrease()">-</div>
  </div>


</div>
